<launch>
    <!-- Backward-compatible wrapper. Prefer roslaunch mppi_bringup gazebo_world.launch -->
    <arg name="gazebo_world_name" default="maze" />
    <arg name="use_joystick" default="true" />
    <arg name="use_vel_driver" default="true" />
    <arg name="open_rviz" default="true" />

    <include file="$(find mppi_bringup)/launch/gazebo_world.launch">
        <arg name="gazebo_world_name" value="$(arg gazebo_world_name)" />
        <arg name="use_joystick" value="$(arg use_joystick)" />
        <arg name="use_vel_driver" value="$(arg use_vel_driver)" />
        <arg name="open_rviz" value="$(arg open_rviz)" />
    </include>
</launch>
